{% extends "blog/base.html" %}

{%block content %}
    <h1 style="background-color: aqua; color: black;">
        Sitio web en el que los artistas pequeños pueden difundir su música y darse a conocer. Además, tienen la oportunidad de ser contactados por otros artistas, productores y managers.

        <ul>
            <li>¡Somos una red social, no una plataforma de streaming!</li>
            <li>Tenemos el objetivo de promocionar artistas que no tienen las herramientas necesarias para difundir su música.</li>
            <li>Se encuentra música indie que no es de fácil acceso en otras plataformas.</li>
            <li>No somos una mascota (Séneca)</li>
        </ul>
        <img src="/media/logo.png" alt="logo" width="400px" height="400px">
    </h1>
{% endblock content%}

